{{outlet}}

<h2 class="text-center text-success">
  <i class="fa fa-fw fa-check"></i> Successfully submitted bets<br />
  <small>Great job! Winners will be announced within a few days after the superbowl</small>
</h2>
